<div class="container-fluid animated fadeIn fast mt-2">

    <div class="card mb-3">
        <div class="card-header text-center">
            <h4>Vista Previa</h4>
        </div>
        <div class="card-body">
            <div class="card mb-3 border-primary">
                <div class="card-header border-primary text-center">
                    <h4> {{ casa.nombre_casa}} </h4>
                </div>
                <div class="pt-4 text-center mb-3">
                    <h4>Imagen Principal.</h4>
                    <img [src]="imgUrl+casa.principal_img" alt="img_principal" class="figure-img img-fluid rounded mx-auto" width="950" height="650">
                </div>
                <div class="pt-4 text-center mb-3">
                    <h4>Imagen en Carousel.</h4>
                    <img [src]="imgUrl+casa.carousel_img" alt="img_carousel" class="figure-img img-fluid rounded mx-auto" width="950" height="650">
                </div>
                <div class="card-body text-center">
                    <h4>Imágenes Generales.</h4>
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide *ngFor="let img of imgs">
                            <div class="slide">
                                <img [src]="imgUrl+img.ruta_imagen_casa" alt="imgs" width="300" height="300" class="p-1 figure-img rounded">
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                    <hr>
                    <div class="container-fluid text-left">
                        <h4>Descripción.</h4>
                        <p> {{casa.descripcion_casa}} </p>
                    </div>
                    <hr>
                </div>
                <div class="card-footer">
                    <p class="card-text">
                        <small class="text-muted"> Direccion: {{casa.direccion_casa}} </small><br>

                    </p>
                </div>
            </div>

            <div class="card mb-3 border-success" *ngIf="noCuartos">
                <div class="card-header border-success text-center">

                    <h5 class="text-danger"> No hay cuartos. </h5>

                </div>
            </div>
            <ng-container *ngIf="!noCuartos">
                <div class="card mb-3 border-success" *ngFor="let cuarto of cuartos">
                    <div class="card-header border-success">
                        <div class="row">
                            <div class="col-md-6">
                                <h4> {{cuarto.nombre_cuarto}} </h4>
                            </div>
                            <div class="col-md-6">
                              <button class="btn btn-success ml-lg-2" type="button" (click)="activarCuarto( cuarto.id_cuarto )"
                              *ngIf="cuarto.estado_cuarto==1">Activar</button>
                          <button class="btn btn-danger ml-lg-2" type="button" (click)="desactivarCuarto( cuarto.id_cuarto )"
                              *ngIf="cuarto.estado_cuarto==0">Desactivar</button>
                                <button class="btn btn-success float-right m-1" (click)="editarBoleto( cuarto.id_cuarto )">Editar</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row h-100">
                            <div class="col-md-12">
                                <h5>Descripción</h5>
                                <p> {{cuarto.descripcion_cuarto}} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4>Comentarios.</h4>
        </div>
        <div class="card-body">
            <h5 class="text-danger" *ngIf="sinComentarios == true"> No hay comentarios. </h5>
            <ng-container *ngIf="sinComentarios == false">
                <div class="card" *ngFor="let comentario of comentarios">
                    <div class="card-body">
                        <div class="row h-100">
                            <div class="col-md-2 text-center my-auto">
                                <h6>{{ comentario.nombre_usuario }}</h6>
                                <h5>{{ comentario.num_calificacion }} Puntos</h5>
                            </div>
                            <div class="col-md-8 text-left">
                                <p>{{ comentario.opinion }}</p>
                            </div>
                            <div class="col-md-2 my-auto">
                                <button type="button" class="btn btn-danger mx-auto my-auto d-block" (click)="eliminarComentario(comentario.id_calificacion)">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="card mb-3 border-primary">
        <div class="card-header border-primary">
            <h4>Opciones de edición</h4>
        </div>
        <div class="card-body">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-outline-primary btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                             Información Principal
                          </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <form [formGroup]="formInfoE" (ngSubmit)="guardarInfo()">
                                <div class="form-row mb-3">
                                    <div class="col-md-12">
                                        <label for="nombreCasa">Nombre: <small class="text-danger">*</small></label>
                                        <input type="text" class="form-control" id="nombreCasa" placeholder="Ingrese el Nombre de la Casa" formControlName="nombre_casa" [class.is-invalid]="validacionNombre || nombreExistente">
                                        <small *ngIf="validacionNombre" class="form-text text-danger">Obligatorio.</small>
                                    </div>
                                </div>

                                <div class="input-group form-row mb-3">
                                    <label for="ambiente-col">Ambiente: <small class="text-danger">*</small></label><br>
                                    <div class="col-md-12" id="ambiente-col">
                                        <input type="radio" id="ambiente1" value="0" formControlName="ambiente" [class.is-invalid]="validacionAmbiente">
                                        <label for="ambiente1" class="form-check-label"> Fiesta</label><br>

                                        <input type="radio" id="ambiente2" value="1" formControlName="ambiente" [class.is-invalid]="validacionAmbiente">
                                        <label for="ambiente2" class="form-check-label"> Relax</label>
                                        <small *ngIf="validacionAmbiente" class="form-text text-danger">Obligatorio.</small>
                                    </div>
                                </div>

                                <div class="input-group form-row mb-3">
                                    <div class="col-md-12">
                                        <label for="descCasa">Descripción: <small class="text-danger">*</small></label>
                                        <textarea id="descCasa" class="form-control" rows="5" formControlName="descripcion_casa" [class.is-invalid]="validacionDesc"></textarea>
                                        <small *ngIf="validacionDesc" class="form-text text-danger">Breve Descripción Obligatoria.</small>
                                    </div>
                                </div>

                                <div class="input-group form-row mb-3">
                                    <div class="col-md-6">
                                        <label for="ordenImg">Orden de Casa: <small class="text-danger">*</small> <small>(Posición de imagen principal en el carousel de casas)</small></label>
                                        <input type="number" class="form-control" id="ordenImg" min="1" max="15" step="1" value="1" formControlName="orden_anuncio" [class.is-invalid]="validacionOrden">
                                        <small *ngIf="validacionOrden" class="form-text text-danger">Orden Obligatorio.</small>
                                    </div>
                                </div>

                                <hr>
                                <div class="input-group form-row mb-3">
                                    <div class="col-md-12 text-center">
                                        <button [disabled]="formInfoE.invalid" class="btn btn-success" type="submit">Guardar</button>
                                    </div>
                                    <button #modalError type="button" class="invisible" data-toggle="modal" data-target="#modalError"></button>
                                </div>
                            </form>
                            <button #modalError type="button" class="invisible" data-toggle="modal" data-target="#modalError"></button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-outline-primary btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Imágenes
                          </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <form [formGroup]="formImgE" (ngSubmit)="guardarImg()">
                                <div class="input-group form-row mb-3">
                                    <div class="col-md-6">
                                        <label for="imgPrincipal">Imagen Principal del Casa:</label><br>
                                        <input #imgInputP type="file" id="imgPrincipal" accept=".jpg" (change)="imgPrincipal($event)" formControlName="imgPrincipal">
                                        <small *ngIf="validacionTamImg" class="form-text text-danger">Error: Tamaño Mínimo: 950x690. Tamaño Máximo: 4096x2160</small>
                                        <div class="row border" *ngIf="(urlPrincipal != null) && (!validacionTamImg)">
                                            <div class="col-md-12">
                                                <img [src]="urlPrincipal" height="300" width="400">
                                                <button type="button" aria-label="Close" class="btn btn-danger" (click)="borrarImgPrincipal()">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="imgCasa">Imagenes de la Casa:</label><br>
                                        <input #imgsInput type='file' id="imgCasa" accept=".jpg" (change)="multiImg($event)" multiple formControlName="imgsCasa">
                                        <small *ngIf="validacionTamImgs" class="form-text text-danger">Error: Tamaño Mínimo: 950x690. Tamaño Máximo: 4096x2160</small>
                                        <ng-container *ngIf="(urls != null) && (!validacionTamImgs)">
                                            <div class="row border" *ngFor='let url of urls; let i = index'>
                                                <div class="col-md-12">
                                                    <img [src]="url " height="300" width="400">
                                                    <button type="button" aria-label="Close" class="btn btn-danger" (click)="borrarImgs(url, i)">
                                                      <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <div class="mt-4 text-center">
                                            <h5>Imágenes Actuales.</h5>
                                        </div>
                                        <div class="row mt-3 border" *ngFor='let img of imgs'>
                                            <div class="col-md-12 text-center">
                                                <img [src]="imgUrl+img.ruta_imagen_casa " height="300" width="400"><br>
                                                <button type="button" class="btn btn-danger" (click)="eliminarImgCasa( img.id_imagen_casa )">Eliminar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row mb-3">

                                    <div class="col-md-6">
                                        <label for="imgCarousel">Imagen de Carousel:</label><br>
                                        <input #imgInputC type="file" id="imgCarousel" accept=".jpg" (change)="imgCarousel($event)" formControlName="imgCarousel">
                                        <small *ngIf="validacionTamImgCarousel" class="form-text text-danger">Error: Tamaño mínimo 1250x690. Tamaño Máximo: 4096x2160</small>
                                        <div class="row" *ngIf="(urlCarousel != null) && (!validacionTamImgCarousel)">
                                            <div class="col-md-12">
                                                <img [src]="urlCarousel" height="300" width="400">
                                                <button type="button" aria-label="Close" class="btn btn-danger" (click)="borrarImgCarousel()">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="input-group form-row mb-3">
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-success" type="submit" [disabled]="formImgE.invalid">Guardar cambios</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h2 class="mb-0">
                            <button class="btn btn-outline-primary btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                          Cuartos
                        </button>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div class="card-body">
                            <form [formGroup]="formCuartos" (ngSubmit)="guardarCuarto()">
                                <div class="input-group form-row mb-2">
                                    <div class="col-md-6">
                                        <label for="nombre_cuarto">Nombre del  Cuarto: <small class="text-danger">*</small></label>
                                        <input type="text" id="nombre_cuarto" class="form-control" placeholder="Ingrese el Nombre del Cuarto" formControlName="nombre_cuarto">
                                      </div>
                                </div>

                                <div class="input-group form-row mb-2">
                                    <div class="col-md-6">
                                        <label for="descripcion_cuarto">Descripción: <small class="text-danger">*</small></label>
                                        <textarea id="descripcion_cuarto" rows="5" class="form-control" formControlName="descripcion_cuarto"></textarea>
                                    </div>
                                </div>
                                <div class="input-group form-row mb-3">
                                  <div class="col-md-12">
                                          <label for="imgPrincipalCuarto">Imagen Principal de el cuarto: <small
                                              class="text-danger">*</small></label>
                                          <input #imgInputPriCua [writeFile]="true" type="file" id="imgPrincipalCuarto" accept=".jpg"
                                          (change)="imgPrincipalCuarto($event)" formControlName="imgPrincipalCuarto">
                                          <small *ngIf="validacionImgCuarto" class="form-text text-danger">Imagen Principal
                                          Obligatoria.</small>
                                          <small *ngIf="validacionTamImgPCuarto" class="form-text text-danger">Error: Tamaño Mínimo: 950x690.
                                          Tamaño Máximo: 4096x2160</small>
                                            <div class="row" *ngIf="(urlPrincipalCuarto != null) && (!validacionTamImgPCuarto)">
                                              <div class="col-md-9">
                                                <img [src]="urlPrincipalCuarto" height="200" class="float-right"><br>
                                              </div>
                                              <div class="col-md-3">
                                                <button type="button" aria-label="Close" class="btn btn-danger float-left"
                                                  (click)="borrarImgPrincipalCuarto()">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                            </div>
                                          </div>
                                      </div>

                                      <div class="input-group form-row mb-3">
                                        <div class="col-md-12">
                                            <label for="imgsCuarto">Imagenes de el cuarto: <small class="text-danger">*</small></label>
                                            <input #imgsInputCua [writeFile]="true" type='file' id="imgsCuarto" accept=".jpg"
                                                (change)="multiImgCuarto($event)" multiple formControlName="imgsCuarto">
                                            <small *ngIf="validacionImgsCuarto" class="form-text text-danger">Mínimo una imágen.</small>
                                            <small *ngIf="validacionTamImgsCuarto && formCuartos.invalid" class="form-text text-danger">Error:
                                                Tamaño Mínimo: 950x690. Tamaño Máximo: 4096x2160</small>
                                            <div class="row" *ngFor='let url of urlsCuarto; let i = index'>
                                                <div class="col-md-9">
                                                    <img [src]="url" height="200" class="float-right"><br>
                                                </div>
                                                <div class="col-md-3">
                                                    <button type="button" aria-label="Close" class="btn btn-danger float-left"
                                                        (click)="borrarImgsCuarto(url, i)">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                <button class="btn btn-success btn-block mx-auto" style="width: 25%; display: block;" type="submit">Crear Cuarto</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalError" tabindex="-1" role="dialog" aria-labelledby="modalErrorLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button #cerrarModalError type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body text-center">
                <h5 class="text-danger"> {{errorOrden}} </h5>
                <h6>Desea liberar el espacio?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary mx-auto" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary mx-auto" (click)="liberarLugar()">Liberar</button>
            </div>
        </div>
    </div>
</div>
