<div class="chatContainer">
    <div class="chat">
        <div *ngFor="let msg of msgs" style="display:flex" [ngClass]="{
            'chatSend':msg.usuario === 1,
            'chatRecieved':msg.usuario === 0
          }" >
            <p class="chatStyle " >
                {{msg.mensaje}}
            </p>
        </div>
    </div>
</div>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Escriba algo..." aria-label="Username" aria-describedby="basic-addon1">
    <button type="button" class="btn btn-primary">
        <i class="fas fa-paper-plane"></i>    
    </button>
</div>