<div class="chatContainer">
    <div class="card" style="width: 100%">
    </div>
    <div class="card" style="width: 100%" *ngIf="datos.estado_chat=='Activo'">
        <div style="display: flex; justify-content: space-evenly;" class="card-body">
            <button data-toggle="modal" data-target="#modalBloqueo" type="button" class="btn btn-danger">
                Bloquear
            </button>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalCompra">
                Confirmar compra
            </button>
        </div>
    </div>
    <div class="chat">
        <div *ngFor="let msg of msgs" style="display:flex" [ngClass]="{
            'chatSend':msg.usuario === '1',
            'chatRecieved':msg.usuario === '0'
          }" >
            <p class="chatStyle " >
                {{msg.mensaje}}
            </p>
        </div>
    </div>
</div>
<div class="input-group mb-3" style="position: absolute; top:95%; width: 80%;" *ngIf="datos.estado_chat=='Activo'">
    <form style="width: 100%;display: flex;" [formGroup]="enviarForm" (ngSubmit)="enviarMensaje()">
        <input type="text" class="form-control" placeholder="Escriba algo..." aria-label="Username" formControlName="enviarInput" aria-describedby="basic-addon1">
        <button type="submit" class="btn btn-primary" >
            <i class="fas fa-paper-plane"></i>
        </button>
    </form>

</div>

<div class="modal fade" id="modalCompra" tabindex="-1" role="dialog" aria-labelledby="modalCompraLabel" style="overflow-y: visible;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCasaLabel">Confirmar compra</h5>
                <button #cerrar type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <form [formGroup]="formCompra" (ngSubmit)="guardarCasa()"> -->
                    <div class="input-group form-row mb-3">
                        <div class="col-md-12">
                            <label for="casa">Casas:</label>
                            <select id="casa" class="form-control" (change)="getCasa($event.target.value)">
                              <option value="" selected>Elija una casa</option>
                              <option *ngFor="let casa of casas; let i=i ndex" [value]="casa.id_casa"> {{casa.nombre_casa}} </option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group form-row mb-3" *ngIf="casa_id!=null">
                        <div class="col-md-12">
                            <label for="cuarto">Cuarto:</label>
                            <select id="cuarto" class="form-control" (change)="getCuarto($event.target.value)">
                              <option value="" selected>Elija un cuarto</option>
                              <option *ngFor="let cuarto of cuartos; let i=i ndex" [value]="cuarto.id_cuarto"> {{cuarto.nombre_cuarto}} </option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group form-row mb-3" *ngIf="cuarto_id!=null">
                        <div class="col-md-12">
                            <label for="oferta">Oferta:</label>
                            <select id="oferta" class="form-control" (change)="getOferta($event.target.value)">
                              <option value="" selected>Elija un oferta</option>
                              <option *ngFor="let oferta of ofertas; let i=i ndex" [value]="oferta.id_oferta"> ${{oferta.precio}} {{oferta.semestre}}</option>
                            </select>
                        </div>
                    </div>
                    <button (click)="confirmarCompra()" type="button" class="btn btn-info">
                        Confirmar compra
                    </button>
                <!-- </form> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalBloqueo" tabindex="-1" role="dialog" aria-labelledby="modalBloqueoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="container-fluid text-center">
                    <h5 class="modal-title" id="modalBloqueoLabel">Bloquear Usuario</h5>
                    <button #cerrarModalBloqueo type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
            <div class="modal-body" style="display: flex;">
                <input #msg type="text" class="form-control" placeholder="Escriba el motivo del bloqueo..." aria-label="Username" formControlName="enviarInput" aria-describedby="basic-addon1">
                <button (click)="bloquear(msg.value)" class="btn btn-danger">
                    Bloquear
                </button>
            </div>
        </div>
    </div>
    <button #modalChat1 class="invisible" type="button" data-toggle="modal" data-target="#modalBloqueo">xxx</button>
</div>