<div class=chat-container>
  <form [formGroup]="formFiltros" (ngSubmit)="filtrar()">
    <div class="form-row align-items-center justify-content-center">
        <div class="col-md-6 p-2 text-center">
            <label>Estado Chat:</label>
            <div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="estado1" value="4" formControlName="estado">
                    <label for="estado1" class="form-check-label"> Bloqueado</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="estado2" value="3" formControlName="estado">
                    <label for="estado2" class="form-check-label"> Terminado por nosotros</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="estado2" value="2" formControlName="estado">
                  <label for="estado2" class="form-check-label">Terminado por el usuario</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" id="estado2" value="1" formControlName="estado">
                  <label for="estado2" class="form-check-label">Activo</label>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary mx-auto d-block" type="submit" [disabled]="formFiltros.invalid"> Filtrar </button>
    </form>
    <div class="chat-list" *ngIf="haychat==true">
        <div *ngFor="let user of users">
            <a (click)="chat(user.id_chat)" class="chat-div">
                <img [src]="user.foto " class="rounded-circle" alt="" width="100" height="100">
                <div>
                    <p>{{user.nombre_usuario}}</p>
                    <p>Estado: {{user.notificacion}}</p>
                </div>
            </a>
        </div>
    </div>
    <div class="chat-list" *ngIf="haychat==false">
      <div *ngFor="let user of users">
          <label class="form-text text-danger">No hay chats con estas caracteristicas</label>
      </div>
  </div>
</div>
