<div class="container-fluid animated fadeIn fast mt-2">

    <div class="card mb-3">
        <div class="card-header text-center">
            <h4>Vista Previa</h4>
        </div>
        <div class="card-body">
            <div class="card mb-3 border-primary">
                <div class="card-header border-primary text-center">
                    <h4> {{ cuarto.nombre_cuarto}} </h4>
                </div>
                <div class="pt-4 text-center mb-3">
                    <h4>Imagen Principal.</h4>
                    <img [src]="imgUrl+cuarto.principal_img" alt="img_principal" class="figure-img img-fluid rounded mx-auto" width="950" height="650">
                </div>
                <div class="card-body text-center">
                    <h4>Imágenes Generales.</h4>
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide *ngFor="let img of imgs">
                            <div class="slide">
                                <img [src]="imgUrl+img.ruta_imagen_cuarto" alt="imgs" width="300" height="300" class="p-1 figure-img rounded">
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                    <hr>
                    <div class="container-fluid text-left">
                        <h4>Descripción.</h4>
                        <p> {{cuarto.descripcion_cuarto}} </p>
                    </div>
                    <hr>
                </div>
            </div>

        </div>
    </div>

    <div class="card mb-3 border-primary " >
        <div class="card-header border-primary">
            <h4>Opciones de edición</h4>
        </div>
        <div class="card-body">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-outline-primary btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                             Información Principal
                          </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <form [formGroup]="formInfoCuarto" (ngSubmit)="guardarInfoCuarto()">
                                <div class="form-row mb-3">
                                    <div class="col-md-12">
                                        <label for="nombreCuarto">Nombre: <small class="text-danger">*</small></label>
                                        <input type="text" class="form-control" id="nombreCuarto" placeholder="Ingrese el nombre del cuarto" formControlName="nombre_cuarto" [class.is-invalid]="validacionNombre">
                                        <small *ngIf="validacionNombre" class="form-text text-danger">Obligatorio.</small>
                                    </div>
                                </div>

                                <div class="input-group form-row mb-3">
                                    <div class="col-md-12">
                                        <label for="descCasa">Descripción: <small class="text-danger">*</small></label>
                                        <textarea id="descCasa" class="form-control" rows="5" formControlName="descripcion_cuarto" [class.is-invalid]="validacionDesc"></textarea>
                                        <small *ngIf="validacionDesc" class="form-text text-danger">Breve Descripción Obligatoria.</small>
                                    </div>
                                </div>

                                <hr>
                                <div class="input-group form-row mb-3">
                                    <div class="col-md-12 text-center">
                                        <button [disabled]="formInfoCuarto.invalid" class="btn btn-success" type="submit">Guardar</button>
                                    </div>
                                    <button #modalError type="button" class="invisible" data-toggle="modal" data-target="#modalError"></button>
                                </div>
                            </form>
                            <button #modalError type="button" class="invisible" data-toggle="modal" data-target="#modalError"></button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-outline-primary btn-block text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Imágenes
                          </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <form [formGroup]="formImgCuarto" (ngSubmit)="guardarImg()">
                                <div class="input-group form-row mb-3">
                                    <div class="col-md-6">
                                        <label for="imgPrincipal">Imagen Principal del Cuarto:</label><br>
                                        <input #imgInputPriCua type="file" id="imgPrincipal" accept=".jpg" (change)="imgPrincipalCuarto($event)" formControlName="imgPrincipal">
                                        <small *ngIf="validacionTamImgPCuarto" class="form-text text-danger">Error: Tamaño Mínimo: 950x690. Tamaño Máximo: 4096x2160</small>
                                        <div class="row border" *ngIf="(urlPrincipalCuarto != null) && (!validacionTamImgPCuarto)">
                                            <div class="col-md-12">
                                                <img [src]="urlPrincipalCuarto" height="300" width="400">
                                                <button type="button" aria-label="Close" class="btn btn-danger" (click)="borrarImgPrincipalCuarto()">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="imgsCuarto">Imagenes del Cuarto: <small class="text-danger">*</small></label><br>
                                        <input #imgsInputCua type='file' id="imgsCuarto" accept=".jpg" (change)="multiImg($event)" multiple formControlName="imgsCuarto">
                                        <div class="row mb-3 mt-3" *ngFor='let url of urlsCuarto; let i = index'>
                                            <div class="col-md-9">
                                                <h6 class="text-center">{{ listaImgCuarto[i] }}</h6>
                                                <img [src]="url" height="200" class="float-right" style="max-width: 300px; max-height: 150;"><br>
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" aria-label="Close" class="btn btn-danger float-left" (click)="borrarImgs(url, i)">
                                                      <span aria-hidden="true">&times;</span>
                                                    </button>
                                            </div>
                                        </div>
                                        <div class="row mb-3 mt-3" *ngFor='let url of badUrls; let i = index'>
                                            <small *ngIf="errorTamImgs && sinImagen == false" class="form-text text-danger ml-4">La imagen {{ badUrls[i] }} no puede ser ingresada. Tamaño Mínimo: 950x690. Tamaño Máximo: 4096x2160</small>
                                        </div>
                                        <div class="mt-4 text-center">
                                            <h5>Imágenes Actuales.</h5>
                                        </div>
                                        <div class="row mt-3" *ngFor='let img of imgs'>
                                            <div class="col-md-12 text-center">
                                                <img [src]="imgUrl+img.ruta_imagen_cuarto " height="300" width="400"><br>
                                                <button type="button" class="btn btn-danger" (click)="eliminarImgCuarto( img.id_imagen_cuarto )">Eliminar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="input-group form-row mb-3">
                                    <div class="col-md-12 text-center">
                                        <button class="btn btn-success" type="submit" [disabled]="formImgCuarto.invalid">Guardar cambios</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="card mb-3 border-primary">
      <div class="card-header border-primary">
          <h4>Oferta</h4>
      </div>
    <div class="input-group form-row mb-3">
      <div class="col-md-12">
          <label for="semestre">Semestre:</label>
          <select id="semestre" class="form-control">
            <option value="" selected>Elija un Semestre</option>
            <option *ngFor="let semestre of semestres; let i=i ndex" [value]="semestre.id_semestre"> {{semestre.nombre_semestre}} </option>
          </select>
      </div>
  </div>
  <br>
  <div class="card-body" *ngIf="oferta.tipo==0">
    <form [formGroup]="formOferta" (ngSubmit)="guardarOferta()">
            <div class="col-md-3">
              <label for="precio">Precio: <small class="text-danger">*</small></label>
              <input type="number" class="form-control" id="precio" formControlName="precio" [class.is-invalid]="validacionPrecio">
              <small *ngIf="validacionPrecio" class="form-text text-danger">Obligatorio.</small>
            </div>
            <br>
            <div class="col-md-6">
              <label for="grupo">Grupo: <small class="text-danger">*</small></label>
              <input type="text" id="grupo" class="form-control" placeholder="Ingrese el grupo" formControlName="grupo" [class.is-invalid]="validacionGrupo">
              <small *ngIf="validacionGrupo" class="form-text text-danger">Obligatorio.</small>
            </div>
            <div class="col-md-12 text-center">
              <button [disabled]="formOferta.invalid" class="btn btn-success" type="submit">Crear oferta</button>
            </div>
    </form>
  </div>
  <div class="card-body" *ngIf="oferta.tipo==1">
        <div class="form-row mb-6">
            <div class="col-md-12">
                <label for="Grupo">Grupo: {{oferta.grupo}}</label>
            </div>
        </div>
        <br>
        <div class="input-group form-row mb-6">
            <div class="col-md-12">
                <label for="descCasa">Precio: ${{oferta.precio}}</label>
            </div>
        </div>
        <hr>
        <div class="input-group form-row mb-3">
            <div class="col-md-12 text-center">
              <button class="btn btn-danger ml-lg-2" type="button" (click)="eliminarOferta( oferta.fk_oferta )">Eliminar Oferta</button>
            </div>
        </div>
  </div>
  <div class="card-body" *ngIf="oferta.tipo==2">
        <div class="form-row mb-12">
            <div class="col-md-4">
                <label for="nombreusuario">Nombre Usuario: {{oferta.nombre_usuario}}</label>
            </div>
            <div class="col-md-4">
              <label for="celular">celular: {{oferta.celular}}</label>
          </div>
          <div class="col-md-4">
            <label for="celular_ext">celular ext: {{oferta.celular_ext}}<small class="text-danger">*</small></label>
        </div>
        </div>
        <div class="input-group form-row mb-12">
            <div class="col-md-4">
                <label for="descCasa">Grupo: {{oferta.grupo}}</label>
            </div>
            <div class="col-md-3">
              <label for="descCasa">Precio: {{oferta.precio}}</label>
            </div>
            <div class="col-md-3">
              <label for="descCasa">Fecha pago: {{oferta.fecha_compra}}</label>
            </div>
            <div class="col-md-2">
              <label for="pago">Estado: {{oferta.pago}}</label>
            </div>
        </div>
  </div>


    </div>

</div>
